
.logo {
    color: dodgerblue;
    font-size: 100px;
    background-color: silver;
    display: inline-block;
}

.primary {
    float: right;
    text-align: right;
    color: blue;
    font-size: 40px;
    display: inline-block;
}


.footer {
    color: blue;
    font-size: 40px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.header {
    border: 30px;
    border-color: grey;
}

.img {
    background-image: url(../images/African.jpg);
    background: no-repeat;

}

.align {
    text-align: left;
}

#text {
    width: 55.5%;
    float: left;
    background-color: white;
    height: 500px;
}

.alignment {
    background-color: silver;
    text-align: center;
    float: left;
    width: 1250px;
}

.img-1 {
    width: 1250px;
}

#reserv {
    font-size: 44px;

}
form {
  margin: 0 auto;
  width : 200px;

  padding: 1em;
  border : 1px solid #CCC;
  border-radius: 1em;
}
